body, html {
	margin: 0;
	padding: 0;
}

code {
	display: inline-block;
	font-size: .875em;
	color: #d63384;
	word-wrap: break-word;

	transition: all 0.1s ease;
	cursor: pointer;
}

code.hl {
	color: #ffffff;
	background-color: #d63384;
}

.popup-page {
	padding: .5rem;
}

.popup-page div {
	margin: 1rem 0;
}

button {
	margin: 0;
	margin-right: .5rem;
}
